
.accordion {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.accordion ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
}

.accordion ul li {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 25%;
    height: 550px;
    transition: all 500ms ease-in-out;
}

.accordion ul li video {
    display: block;
    overflow: hidden;
    width: 100%;
}

.accordion ul li img {
    display: block;
    overflow: hidden;
    width: 100%;
}



.swivel {
    animation: swivel ease-in-out 2s infinite alternate;
}

@keyframes swivel {
    0% {
        transform: rotate(20deg)
    }

    100% {
        transform: rotate(-20deg)
    }
}



.height-adjustment {
    animation: height-adjustment ease-in-out 2s infinite alternate ;
}
@keyframes height-adjustment {
    0% {
        transform:translateY(18%) 
    }
    100% {
        transform: translateY(-5%)
    }
}



.tilt {
    animation: tilt ease-in-out 2s infinite alternate ;
}



@keyframes tilt {
    0% {
        transform: rotate(18deg);
    }

    100% {
        transform: rotate(-18deg);
    }
}