
img {
    vertical-align: middle;
}
img {
    border: 0;
}




.HBRIII-rotate-1 {
    animation: HBRIII-rotate-1 12s linear infinite;
}

@keyframes HBRIII-rotate-1 {
    0% {
        transform: rotate(359deg) scale(0.7);
    }

    50% {
        transform: rotate(180deg) scale(0.55);
    }

    100% {
        transform: rotate(0deg) scale(0.7);
    }
}

.HBRIII-rotate-236 {
    animation: HBRIII-rotate-236 6s ease-in-out infinite;
}

@keyframes HBRIII-rotate-236 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
.HBRIII-rotate-4 {
    animation: HBRIII-rotate-4 5s linear infinite;
}

@keyframes HBRIII-rotate-4 {
    0% {
        transform: rotate(0deg) scale(0.9);
    }

    100% {
        transform: rotate(359deg) scale(0.9);
    }
}

.HBRIII-rotate-5 {
    animation: HBRIII-rotate-5 2s linear infinite;
}

@keyframes HBRIII-rotate-5 {
    0% {
        transform: rotate(359deg) scale(0.9);
    }

    100% {
        transform: rotate(0deg) scale(0.9);
    }
}
