.hide-text {
    display: none;
}

.readmore {
    color: #ff6400;
    background-color: rgba(0, 0, 0, .5);
    border: #ff6400 solid .5px;
    margin: 0% 0% 7%;
    text-transform: uppercase;
}

.flying {
    transform: translateY(-13.2%);
    animation: flying ease-in-out 2s infinite alternate;
}

@keyframes flying {
    0% {
        transform: translateY(-12.2%) translateX(1%);
    }
    100% {
        transform: translateY(-13.2%) translateX(-1%);
    }
}

.monitor_button {
    transform: scale(1.03, 1.03);
    transition: .5s;
}

.monitor_button2 {
    transform: scale(1.03, 1.03);
    transition: .5s;
    position: relative;
    z-index: 200;
}

.monitor_button:hover {
    transform: scale(1, 1);
    transition: .2s;
    cursor: pointer;
}

.monitor_button2:hover {
    transform: scale(1, 1);
    transition: .2s;
    cursor: pointer;
}

.monitor_button:hover img {
    opacity: 0;
}

.monitor_button2:hover img {
    opacity: 0;
}

.monitor_button_active {
    opacity: 0;
}

.monitor_button_click {
    filter: grayscale(1)brightness(.3)drop-shadow(2px 2px 1px rgba(0, 0, 0, .9));
}

.monitor_button_img_1_ani {
  
    animation: monitor_button_img 20s 0s infinite;
    filter: grayscale(1)brightness(.3)drop-shadow(-2px -2px 1px rgba(0, 0, 0, .9));
}

.monitor_button_img_2_ani {

    animation: monitor_button_img 20s 4s infinite;
   filter: grayscale(1)brightness(.3)drop-shadow(2px 2px 1px rgba(0, 0, 0, .9));
}

.monitor_button_img_3_ani {

    animation: monitor_button_img 20s 8s infinite;
    filter: grayscale(1)brightness(.3)drop-shadow(2px 2px 1px rgba(0, 0, 0, .9));
}

.monitor_button_img_4_ani {
   
    animation: monitor_button_img 20s 12s infinite;
    filter: grayscale(1)brightness(.3)drop-shadow(2px 2px 1px rgba(0, 0, 0, .9));
}

.monitor_button_img_5_ani {

    animation: monitor_button_img 20s 16s infinite;
    filter: grayscale(1)brightness(.3)drop-shadow(2px 2px 1px rgba(0, 0, 0, .9));
}

@keyframes monitor_button_img {
    0% {
       filter: grayscale(1)brightness(.3)drop-shadow(2px 2px 1px rgba(0, 0, 0, .9));
    }
    1% {
      filter: grayscale(0)brightness(1);
    }
    19% {
        filter: grayscale(0)brightness(1);
    }
    20% {
       filter: grayscale(1)brightness(.3)drop-shadow(2px 2px 1px rgba(0, 0, 0, .9));
    }
    100% {
        filter: grayscale(1)brightness(.3)drop-shadow(2px 2px 1px rgba(0, 0, 0, .9));
    }
}

.monitor_button2_img_1_ani {

    animation: monitor_button2_img 30s 0s infinite;
    filter: grayscale(1)brightness(.3)drop-shadow(2px 2px 1px rgba(0, 0, 0, .9));
}

.monitor_button2_img_2_ani {
   
    animation: monitor_button2_img 30s 5s infinite;
    filter: grayscale(1)brightness(.3)drop-shadow(2px 2px 1px rgba(0, 0, 0, .9));
}

.monitor_button2_img_3_ani {
 
    animation: monitor_button2_img 30s 10s infinite;
    filter: grayscale(1)brightness(.3)drop-shadow(2px 2px 1px rgba(0, 0, 0, .9));
}

.monitor_button2_img_4_ani {
    
    animation: monitor_button2_img 30s 15s infinite;
    filter: grayscale(1)brightness(.3)drop-shadow(2px 2px 1px rgba(0, 0, 0, .9));
}

.monitor_button2_img_5_ani {
    
    animation: monitor_button2_img 30s 20s infinite;
    filter: grayscale(1)brightness(.3)drop-shadow(2px 2px 1px rgba(0, 0, 0, .9));
}

.monitor_button2_img_6_ani {
  
    animation: monitor_button2_img 30s 25s infinite;
    filter: grayscale(1)brightness(.3)drop-shadow(2px 2px 1px rgba(0, 0, 0, .9));
}

@keyframes monitor_button2_img {
    0% {
        filter: grayscale(1)brightness(.3)drop-shadow(2px 2px 1px rgba(0, 0, 0, .9));
    }
    3% {
        filter: grayscale(0)brightness(1);
    }
    15% {
        filter: grayscale(0)brightness(1);
    }
    16% {
        filter: grayscale(1)brightness(.3)drop-shadow(2px 2px 1px rgba(0, 0, 0, .9));
    }
    100% {
        filter: grayscale(1)brightness(.3)drop-shadow(2px 2px 1px rgba(0, 0, 0, .9));
    }
}


/* content */

.monitor_content_1_ani {
    
    animation: monitor_feature_content_animation 20s 0s infinite;
    height: 0;
    overflow: hidden;
    transition: 1s;
}

.monitor_content_2_ani {
    
    animation: monitor_feature_content_animation 20s 4s infinite;
    height: 0;
    overflow: hidden;
    transition: 1s;
}

.monitor_content_3_ani {
   
    animation: monitor_feature_content_animation 20s 8s infinite;
    height: 0;
    overflow: hidden;
    transition: 1s;
}

.monitor_content_4_ani {
 
    animation: monitor_feature_content_animation 20s 12s infinite;
    height: 0;
    overflow: hidden;
    transition: 1s;
}

.monitor_content_5_ani {
   
    animation: monitor_feature_content_animation 20s 16s infinite;
    height: 0;
    overflow: hidden;
    transition: 1s;
}

@keyframes monitor_feature_content_animation {
    0% {
        height: auto;
        transition: 3s;
        opacity: 0;
    }
    5% {
        height: auto;
        transition: 3s;
        opacity: 1;
    }
    15% {
        height: auto;
        transition: 3s;
        opacity: 1;
    }
    19% {
        height: auto;
        transition: 3s;
    }
    20% {
        height: 0;
        transition: 3s;
        opacity: 0;
    }
    100% {
        height: 0;
        transition: 3s;
    }
}


/* content2 */

.monitor_content2_1_ani {
    
    animation: monitor_feature_content2_animation 30s 0s infinite;
    height: 0;
    overflow: hidden;
    transition: 1s;
}

.monitor_content2_2_ani {
    
    animation: monitor_feature_content2_animation 30s 5s infinite;
    height: 0;
    overflow: hidden;
    transition: 1s;
}

.monitor_content2_3_ani {
    
    animation: monitor_feature_content2_animation 30s 10s infinite;
    height: 0;
    overflow: hidden;
    transition: 1s;
}

.monitor_content2_4_ani {
   
    animation: monitor_feature_content2_animation 30s 15s infinite;
    height: 0;
    overflow: hidden;
    transition: 1s;
}

.monitor_content2_5_ani {
    
    animation: monitor_feature_content2_animation 30s 20s infinite;
    height: 0;
    overflow: hidden;
    transition: 1s;
}

.monitor_content2_6_ani {
   
    animation: monitor_feature_content2_animation 30s 25s infinite;
    height: 0;
    overflow: hidden;
    transition: 1s;
}

@keyframes monitor_feature_content2_animation {
    0% {
        height: auto;
        transition: 3s;
        opacity: 0;
    }
    3% {
        height: auto;
        transition: 3s;
        opacity: 1;
    }
    13% {
        height: auto;
        transition: 3s;
        opacity: 1;
    }
    15% {
        height: auto;
        transition: 3s;
    }
    16% {
        height: 0;
        transition: 3s;
        opacity: 0;
    }
    100% {
        height: 0;
        transition: 3s;
    }
}

.monitor_part1_bg_1_ani {
  
    animation: monitor_part1_bg_1_ani 20s 0s infinite;
    opacity: 1;
}

.monitor_part1_bg_2_ani {
   
    animation: monitor_part1_bg_1_ani 20s 4s infinite;
    opacity: 0;
}

.monitor_part1_bg_3_ani {
 
    animation: monitor_part1_bg_1_ani 20s 8s infinite;
    opacity: 0;
}

.monitor_part1_bg_4_ani {
    
    animation: monitor_part1_bg_1_ani 20s 12s infinite;
    opacity: 0;
}

.monitor_part1_bg_5_ani {

    animation: monitor_part1_bg_1_ani 20s 16s infinite;
    opacity: 0;
}

@keyframes monitor_part1_bg_1_ani {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    15% {
        opacity: 1;
    }
    19% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.monitor_part1_inside_1_ani {
  
    animation: monitor_part1_inside_1_ani 20s 0s infinite;
    opacity: 1;
}

.monitor_part1_inside_2_ani {
   
    animation: monitor_part1_inside_1_ani 20s 4s infinite;
    opacity: 0;
}

.monitor_part1_inside_3_ani {
    
    animation: monitor_part1_inside_1_ani 20s 8s infinite;
    opacity: 0;
}

.monitor_part1_inside_4_ani {
  
    animation: monitor_part1_inside_1_ani 20s 12s infinite;
    opacity: 0;
}

.monitor_part1_inside_5_ani {
  
    animation: monitor_part1_inside_1_ani 20s 16s infinite;
    opacity: 0;
}

@keyframes monitor_part1_inside_1_ani {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    15% {
        opacity: 1;
    }
    19% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.monitor_part2_bg_1_ani {
   
    animation: monitor_part2_bg 30s 0s infinite;
    overflow: hidden;
    transition: 1s;
    opacity: 1;
}

.monitor_part2_bg_2_ani {
   
    animation: monitor_part2_bg 30s 5s infinite;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
}

.monitor_part2_bg_3_ani {
   
    animation: monitor_part2_bg 30s 10s infinite;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
}

.monitor_part2_bg_4_ani {
   
    animation: monitor_part2_bg 30s 15s infinite;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
}

.monitor_part2_bg_5_ani {
    
    animation: monitor_part2_bg 30s 20s infinite;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
}

.monitor_part2_bg_6_ani {
   
    animation: monitor_part2_bg 30s 25s infinite;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
}

@keyframes monitor_part2_bg {
    0% {
        opacity: 1;
        transition: 3s;
    }
    3% {
        opacity: 1;
        transition: 3s;
    }
    13% {
        opacity: 1;
        transition: 3s;
    }
    15% {
        opacity: 1;
        transition: 3s;
    }
    16% {
        opacity: 0;
        transition: 3s;
    }
    100% {
        opacity: 0;
        transition: 3s;
    }
}

.monitor_part2_inside_1_ani {
    
    animation: monitor_part2_inside 30s 0s infinite;
    overflow: hidden;
    transition: 1s;
    opacity: 1;
}

.monitor_part2_inside_2_ani {
   
    animation: monitor_part2_inside 30s 5s infinite;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
}

.monitor_part2_inside_3_ani {
   
    animation: monitor_part2_inside 30s 10s infinite;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
}

.monitor_part2_inside_4_ani {
    
    animation: monitor_part2_inside 30s 15s infinite;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
}

.monitor_part2_inside_5_ani {
   
    animation: monitor_part2_inside 30s 20s infinite;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
}

.monitor_part2_inside_6_ani {
  
    animation: monitor_part2_inside 30s 25s infinite;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
}

@keyframes monitor_part2_inside {
    0% {
        opacity: 1;
        transition: 3s;
    }
    3% {
        opacity: 1;
        transition: 3s;
    }
    13% {
        opacity: 1;
        transition: 3s;
    }
    15% {
        opacity: 1;
        transition: 3s;
    }
    16% {
        opacity: 0;
        transition: 3s;
    }
    100% {
        opacity: 0;
        transition: 3s;
    }
}

.monitor_part2_inside_video_ani {
   
    animation: monitor_part2_inside 30s 0s infinite;
    transition: 1s;
    opacity: 1;
}

@keyframes monitor_part2_inside_video_ani {
    0% {
        opacity: 1;
        transition: 3s;
    }
    3% {
        opacity: 1;
        transition: 3s;
    }
    13% {
        opacity: 1;
        transition: 3s;
    }
    15% {
        opacity: 1;
        transition: 3s;
    }
    16% {
        opacity: 0;
        transition: 3s;
    }
    100% {
        opacity: 0;
        transition: 3s;
    }
}

.monitor_part2_inside_gameassist_1_ani {
    
    animation: monitor_part2_inside_gameassist 16s 0s infinite;
    opacity: 0;
}

.monitor_part2_inside_gameassist_2_ani {
   
    animation: monitor_part2_inside_gameassist 16s 4s infinite;
    opacity: 0;
}

.monitor_part2_inside_gameassist_3_ani {
  
    animation: monitor_part2_inside_gameassist 16s 8s infinite;
    opacity: 0;
}

.monitor_part2_inside_gameassist_4_ani {

    animation: monitor_part2_inside_gameassist 16s 12s infinite;
    opacity: 0;
}

@keyframes monitor_part2_inside_gameassist {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    15% {
        opacity: 1;
    }
    19% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.voice_clear img {
    animation: voice_clear 10s infinite;
    filter: hue-rotate(90deg)brightness(2);
}

@keyframes voice_clear {
    0% {
        filter: hue-rotate(90deg)brightness(2);
    }
    41% {
       filter: hue-rotate(90deg)brightness(2);
        opacity: 1;
    }
    50% {
        filter: hue-rotate(90deg);
        opacity: 0;
    }
    59% {
        filter: hue-rotate(90deg)brightness(2);
        opacity: 0;
    }
    69% {
        opacity: 1;
    }
    100% {
       filter: hue-rotate(90deg)brightness(2);
    }
}

.voice_notice img {
    animation: voice_notice 10s infinite;
}

@keyframes voice_notice {
    0% {
        filter: brightness(1.8)hue-rotate(90deg);
    }
    2% {
        filter: brightness(1)hue-rotate(90deg);
    }
    4% {
       filter: brightness(1.6)hue-rotate(90deg);
    }
    8% {
        filter: brightness(1.4)hue-rotate(90deg);
    }
    10% {
      filter: brightness(1.9)hue-rotate(90deg);
    }
    11% {
       filter: brightness(1.5)hue-rotate(90deg);
    }
    12% {
        filter: brightness(1.8)hue-rotate(90deg);
    }
    16% {
       filter: brightness(1)hue-rotate(90deg);
    }
    17% {
        filter: brightness(1.7)hue-rotate(90deg);
    }
    19% {
        filter: brightness(1.4)hue-rotate(90deg);
    }
    21% {
        filter: brightness(1.7)hue-rotate(90deg);
    }
    23% {
        filter: brightness(1)hue-rotate(90deg);
    }
    25% {
        filter: brightness(1.8)hue-rotate(90deg);
    }
    26% {
        filter: brightness(1.4)hue-rotate(90deg);
    }
    30% {
        filter: brightness(1.8)hue-rotate(90deg);
    }
    32% {
        filter: brightness(1.6)hue-rotate(90deg);
    }
    33% {
        filter: brightness(1.7)hue-rotate(90deg);
    }
    34% {
            filter: brightness(1)hue-rotate(90deg);
    }
    38% {
        filter: brightness(1.8)hue-rotate(90deg);
    }
    39% {
        filter: brightness(1.2)hue-rotate(90deg);
    }
    40% {
        filter: brightness(1.6)hue-rotate(90deg);
    }
    41% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.voice_bg {
    background-image: url('/public/image/monitor/32.png');
    animation: voice_bg 8s infinite;
}

@keyframes voice_bg {
    0% {
        background-image: url('/public/image/monitor/32.png');
        opacity: 0;
    }
    20% {
        background-image: url('/public/image/monitor/32.png');
        opacity: 0;
    }
    40% {
        background-image: url('/public/image/monitor/32.png');
        opacity: 1;
    }
    60% {
        background-image: url('/public/image/monitor/32.png');
        opacity: 1;
    }
    80% {
        background-image: url('/public/image/monitor/32.png');
        opacity: 0;
    }
    100% {
        background-image: url('/public/image/monitor/32.png');
        opacity: 0;
    }
}

@keyframes voice_bg_play {
    0% {
        transition: 3s;
        opacity: 0;
        padding: 0% 0 0 0;
    }
    71% {
        transition: 3s;
        opacity: 0;
        padding: 0% 0 0 0;
    }
    73% {
        transition: 3s;
        opacity: 1;
        padding: 0% 0 57% 0;
    }
    81% {
        transition: 3s;
        opacity: 1;
        padding: 0% 0 57% 0;
    }
    84% {
        transition: 3s;
        opacity: 0;
        padding: 0% 0 0% 0;
    }
    100% {
        transition: 3s;
        opacity: 0;
        padding: 0 0 0 0;
    }
}

.voice_bg_sm {
    animation: voice_bg_sm 8s infinite;
}

@keyframes voice_bg_sm {
    0% {
        background-image: url('/public/image/monitor/32.png');
        opacity: 0;
    }
    20% {
        background-image: url('/public/image/monitor/32.png');
        opacity: 0;
    }
    40% {
        background-image: url('/public/image/monitor/32.png');
        opacity: 1;
    }
    60% {
        background-image: url('/public/image/monitor/32.png');
        opacity: 1;
    }
    80% {
        background-image: url('/public/image/monitor/32.png');
        opacity: 0;
    }
    100% {
        background-image: url('/public/image/monitor/32.png');
        opacity: 0;
    }
}

.voice_mic {
    animation: voice_mic 10s infinite;
}

@keyframes voice_mic {
    0% {
        opacity: 1;
    }
    41% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.voice_headset {
    animation: voice_headset 10s infinite;
}

@keyframes voice_headset {
    0% {
        opacity: 0;
    }
    59% {
        opacity: 0;
    }
    69% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.feature_logo_size {
    height: 95px;
}

.feature_logo_size1 {
    height: 70px;
}

.monitor_feature_group1 {
    padding: 0%;
    min-height: none;
}

.monitor_feature_group2 {
    padding: 0;
    min-height: none;
}

.amd_icon {
    width: 100%;
    max-width: 300px;
}

.monitor_feature_1 {
    padding: 10% 5% 0 0;
}

.tenbit_icon {
    width: 100%;
    max-width: 400px;
}

.DCI_icon {
    width: 100%;
    max-width: 350px;
}

.monitor_feature_group2 {
    padding: 0% 2% 0% 2%;
}

.monitor_feature_group2_1 {
    padding: 15% 0 0 5%;
}

.aorus_exclusive_icon {
    width: 100%;
    max-width: 220px;
    filter: drop-shadow(0 0 10px #000);
    padding-top: 4%;
}

.ANC_play_icon {
    width: 100%;
    max-width: 220px;
    filter: drop-shadow(0 0 10px #000);
    padding-top: 4%;
    padding-left: 15%;
    filter: drop-shadow(0px 0px 0px #ff6400);
}

.ANC_play_icon:hover {
    filter: drop-shadow(0px 0px 3px #ff6400);
    cursor: pointer;
}

.ANC_close_icon {
    width: 100%;
    max-width: 220px;
    filter: drop-shadow(0 0 10px #000);
    padding-top: 4%;
    padding-left: 15%;
    filter: drop-shadow(0px 0px 0px #ff6400);
}

.ANC_close_icon:hover {
    filter: drop-shadow(0px 0px 3px #ff6400);
    cursor: pointer;
}

.RGB_feature {
    padding: 0 0 0 0%;
}

.tenbit_sm_icon {
    width: 100%;
    max-width: 300px;
}

.design_concept_feature {
    padding: 0 0% 0 0%;
}

.ergonimic_design {
    padding: 7% 4% 0 4%;
}

.tech_feature {
    padding: 0 4% 0 4%;
    margin: 0;
}

.tech_feature_content {
    padding: 1.5% 2% 0 0;
    margin: 0;
}

.CURVE {
    text-align: center;
    padding: 0% 15%;
}

#test_201801 {
    position: absolute;
}

.usb-charger {
    padding: 3% 0 0 0;
}

.powerboard {
    padding: 3% 0 0 0;
}

@media screen and (min-width: 1700px) {
    .monitor_feature_1 {
        padding: 29% 5% 0 0;
    }
    .monitor_feature_2 {
        padding: 29% 11% 0 0;
    }
    .monitor_feature_3 {
        padding: 30% 5% 0 0;
    }
    .monitor_feature_4 {
        padding: 28% 7% 0 0;
    }
    .monitor_feature_5 {
        padding: 29% 5% 0 0;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1700px) {
    .amd_icon {
        width: 100%;
        max-width: 200px;
    }
    .monitor_feature_1 {
        padding: 30% 5% 0 0;
    }
    .monitor_feature_2 {
        padding: 29% 11% 0 0;
    }
    .monitor_feature_3 {
        padding: 30% 5% 0 0;
    }
    .monitor_feature_4 {
        padding: 28% 7% 0 0;
    }
    .monitor_feature_5 {
        padding: 28% 5% 0 0;
    }
    .DCI_icon {
        width: 100%;
        max-width: 260px;
    }
    .aorus_exclusive_icon {
        padding-top: 1%;
        max-width: 150px;
    }
}

@media screen and (min-width: 1350px) and (max-width: 1500px) {
    .amd_icon {
        width: 100%;
        max-width: 200px;
    }
    .monitor_feature_1 {
        padding: 30% 5% 0 0;
    }
    .monitor_feature_2 {
        padding: 29% 11% 0 0;
    }
    .monitor_feature_3 {
        padding: 30% 5% 0 0;
    }
    .monitor_feature_4 {
        padding: 28% 7% 0 0;
    }
    .monitor_feature_5 {
        padding: 28% 5% 0 0;
    }
    .tenbit_icon {
        width: 100%;
        max-width: 320px;
    }
    .DCI_icon {
        width: 100%;
        max-width: 220px;
    }
    .feature_logo_size {
        height: 90px;
    }
    .feature_logo_size1 {
        height: 65px;
    }
    .ergonimic_design {
        padding: 7% 4% 0 4%;
    }
    .aorus_exclusive_icon {
        max-width: 140px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1350px) {
    .monitor_feature_group1 {
        padding: 0%;
        min-height: 500px;
    }
    .amd_icon {
        width: 100%;
        max-width: 200px;
    }
    .monitor_feature_1 {
        padding: 14% 2% 0 0;
    }
    .monitor_feature_2 {
        padding: 29% 11% 0 0;
    }
    .monitor_feature_3 {
        padding: 12% 5% 0 0;
    }
    .monitor_feature_4 {
        padding: 8% 7% 0 0;
    }
    .monitor_feature_5 {
        padding: 28% 5% 0 0;
    }
    .tenbit_icon {
        width: 100%;
        max-width: 350px;
    }
    .DCI_icon {
        width: 100%;
        max-width: 200px;
    }
    .feature_logo_size {
        height: 70px;
    }
    .feature_logo_size1 {
        height: 55px;
    }
    .aorus_exclusive_icon {
        width: 100%;
        max-width: 130px;
        padding-top: 0;
    }
    .monitor_feature_group2 {
        padding: 0% 2% 0% 2%;
        min-height: 460px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .RGB_feature {
        padding: 5% 4% 0 2%;
    }
    .tenbit_sm_icon {
        width: 70%;
        max-width: 500px;
    }
    .design_concept_feature {
        padding: 0 3% 0 3%;
    }
    .ergonimic_design {
        padding: 7% 4% 0 4%;
    }
    .tech_feature_content {
        padding: 0% 2% 0 0;
        margin: 0;
    }
    .CURVE {
        text-align: left;
        padding: 0% 0%;
    }
    #test_201801 {
        position: relative;
    }
    .usb-charger {
        padding: 0% 0 0 0;
    }
    .powerboard {
        padding: 0% 0 0 0;
    }
}

@media screen and (max-width: 900px) {
    .ergonimic_design {
        padding: 7% 4% 0 4%;
    }
    .tech_feature {
        padding: 7% 4% 0 4%;
        margin: 0;
    }
    .tech_feature_content {
        padding: 0% 2% 0 0;
        margin: 0;
    }
    .CURVE {
        text-align: left;
        padding: 0% 0%;
    }
    #test_201801 {
        position: relative;
    }
    .usb-charger {
        padding: 0% 0 0 0;
    }
    .powerboard {
        padding: 0% 0 0 0;
    }
}