@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Aldrich);
@font-face {
    font-family: 'AORUS';
    src: url('../fonts/AORUS.woff') format("woff");
}
/* CSS Document */

html,
body {
    background: #010000;
    font-family: 'Titillium Web', sans-serif, 'å¾®è»Ÿæ­£é»‘é«”', Microsoft JhengHei;
    font-size: 22px;
    width: 100%;
}

a {
    text-decoration: none;
    color: #0CF;
}

h2 {
    font-family: "Aldrich", "å¾®è»Ÿæ­£é»‘é«”", Microsoft JhengHei, "å¾®è»Ÿé›…é»‘é«”", Microsoft YaHei, SimHei, "æ–°ç´°æ˜Žé«”", Arial, Verdana, Helvetica, sans-serif;
    color: #ff6400;
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: bold;
}

p {
    font-size: 0.8rem;
    line-height: 1.4rem;
    letter-spacing: 1.8px;
    color: #ddd;
}

.aorus_font_title {
    font-family: "AORUS", "å¾®è»Ÿæ­£é»‘é«”", Microsoft JhengHei, "å¾®è»Ÿé›…é»‘é«”", Microsoft YaHei, SimHei, "æ–°ç´°æ˜Žé«”", Arial, Verdana, Helvetica, sans-serif;
}

.aorus_font {
    font-family: "Aldrich", "å¾®è»Ÿæ­£é»‘é«”", Microsoft JhengHei, "å¾®è»Ÿé›…é»‘é«”", Microsoft YaHei, SimHei, "æ–°ç´°æ˜Žé«”", Arial, Verdana, Helvetica, sans-serif;
}

.aorus_font_01 {
    font-family: 'Titillium Web', sans-serif, 'å¾®è»Ÿæ­£é»‘é«”', Microsoft JhengHei;
}

.aorus_font_title_h1 {
    /* text-shadow: 0px 0px 10px #ff6400, 0px 0px 10px #ff6400, 0px 0px 10px #ff6400; */
    letter-spacing: 5px;
}

.aorus_head_title {
    font-size: 5em;
    letter-spacing: 0.07em;
    line-height: 1.2em;
}

.aorus_text_shadow {
    text-shadow: 0 0 10px #ff6400, 0 0 50px #ff6400, 0 0 60px #ff6400;
}

.aorus_text_shadow2 {
    text-shadow: 0 0 5px #71c7d5, 0 0 10px #ffffff, 0 0 50px #0099ff, 0 0 60px #71c7d5;
}

.aorus_text_shadow3 {
    text-shadow: 0 0 5px #71c7d5, 0 0 10px #ffffff, 0 0 50px #0099ff, 0 0 60px #71c7d5;
}


.aorus_text_shadow3:hover {
    text-shadow: 0 0 5px #00c6ff, 0 0 5px #ffffff, 0 0 40px #0099ff, 0 0 50px #00c6ff;
}
/* font */

@media screen and (min-width: 1800px) {
    .performance_h1 {
        color: #fff;
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 5px;
    }
    .performance_h2 {
        font-weight: bold;
        font-size: 32px;
        color: #eee;
        letter-spacing: 2px;
    }
    .performance_h3 {
        font-size: 18px;
        color: #eee;
        letter-spacing: 1px;
    }
    .performance_h3_shadow {
        font-size: 18px;
        color: #eee;
        letter-spacing: 1px;
        text-shadow: 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333;
    }
    .aorus_color_content {
        padding: 2% 25% 0 25%;
    }
    .laptop_text_hide {
        display: block;
    }
    .laptop_text_show {
        display: none;
    }
}

@media screen and (min-width: 1650px) and (max-width: 1800px) {
    .performance_h1 {
        color: #fff;
        font-size: 45px;
        font-weight: bold;
        letter-spacing: 5px;
    }
    .performance_h2 {
        font-weight: bold;
        font-size: 32px;
        color: #eee;
        letter-spacing: 2px;
    }
    .performance_h3 {
        font-size: 18px;
        color: #eee;
        letter-spacing: 1px;
    }
    .performance_h3_shadow {
        font-size: 18px;
        color: #eee;
        letter-spacing: 1px;
        text-shadow: 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333;
    }
    .aorus_color_content {
        padding: 2% 25% 0 25%;
    }
    .laptop_text_hide {
        display: block;
    }
    .laptop_text_show {
        display: none;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1650px) {
    .performance_h1 {
        color: #fff;
        font-size: 35px;
        font-weight: bold;
        letter-spacing: 5px;
    }
    .performance_h2 {
        font-weight: bold;
        font-size: 25px;
        color: #eee;
        letter-spacing: 2px;
    }
    .performance_h3 {
        font-size: 16px;
        color: #eee;
        letter-spacing: 1px;
    }
    .performance_h3_shadow {
        font-size: 18px;
        color: #eee;
        letter-spacing: 1px;
        text-shadow: 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333;
    }
    .aorus_color_content {
        padding: 2% 25% 0 25%;
    }
    .aorus_head_title {
        font-size: 4em;
        letter-spacing: 0.07em;
        line-height: 1.2em;
    }
    p {
        font-size: 0.7rem;
        line-height: 1.4rem;
        letter-spacing: 1.8px;
        color: #ddd;
    }
    .laptop_text_hide {
        display: none;
    }
    .laptop_text_show {
        display: block;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1500px) {
    .performance_h1 {
        color: #fff;
        font-size: 35px;
        font-weight: bold;
        letter-spacing: 5px;
    }
    .performance_h2 {
        font-weight: bold;
        font-size: 18px;
        color: #eee;
        letter-spacing: 2px;
    }
    .performance_h3 {
        font-size: 15px;
        color: #eee;
        letter-spacing: 1px;
    }
    .performance_h3_shadow {
        font-size: 18px;
        color: #eee;
        letter-spacing: 1px;
        text-shadow: 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333;
    }
    .aorus_color_content {
        padding: 3% 20% 0 20%;
    }
    .aorus_head_title {
        font-size: 3em;
        letter-spacing: 0.07em;
        line-height: 1.2em;
    }
    p {
        font-size: 0.75rem;
        line-height: 1.3rem;
        letter-spacing: 1.5px;
        color: #ddd;
    }
    .laptop_text_hide {
        display: none;
    }
    .laptop_text_show {
        display: block;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
    .performance_h1 {
        color: #fff;
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 5px;
    }
    .performance_h2 {
        font-weight: bold;
        font-size: 18px;
        color: #eee;
        letter-spacing: 2px;
    }
    .performance_h3 {
        font-size: 15px;
        color: #eee;
        letter-spacing: 1px;
    }
    .performance_h3_shadow {
        font-size: 18px;
        color: #eee;
        letter-spacing: 1px;
        text-shadow: 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333;
    }
    .aorus_color_content {
        padding: 3% 20% 0 20%;
    }
    .aorus_head_title {
        font-size: 3em;
        letter-spacing: 0.07em;
        line-height: 1.2em;
    }
    p {
        font-size: 0.75rem;
        line-height: 1.3rem;
        letter-spacing: 1.5px;
        color: #ddd;
    }
    .laptop_text_hide {
        display: none;
    }
    .laptop_text_show {
        display: block;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1200px) {
    .performance_h1 {
        color: #eee;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 2px;
    }
    .performance_h2 {
        font-weight: bold;
        font-size: 21px;
        color: #eee;
        letter-spacing: 2px;
        line-height: 28px;
    }
    .performance_h3 {
        font-size: 16px;
        color: #eee;
        letter-spacing: 1px;
    }
    .performance_h3_shadow {
        font-size: 16px;
        color: #eee;
        letter-spacing: 1px;
        text-shadow: 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333;
    }
    .aorus_color_content {
        padding: 3% 14% 0 14%;
    }
    .aorus_head_title {
        font-size: 2.5em;
        letter-spacing: 0.07em;
        line-height: 1.2em;
    }
    p {
        font-size: 0.75rem;
        line-height: 1.3rem;
        letter-spacing: 1.5px;
        color: #ddd;
    }
    .laptop_text_hide {
        display: none;
    }
    .laptop_text_show {
        display: block;
    }
}

@media screen and (min-width: 992px) and (max-width: 1100px) {
    .performance_h1 {
        color: #eee;
        font-size: 38px;
        font-weight: bold;
        letter-spacing: 2px;
    }
    .performance_h2 {
        font-weight: bold;
        font-size: 21px;
        color: #eee;
        letter-spacing: 2px;
        line-height: 28px;
    }
    .performance_h3 {
        font-size: 16px;
        color: #eee;
        letter-spacing: 1px;
    }
    .performance_h3_shadow {
        font-size: 16px;
        color: #eee;
        letter-spacing: 1px;
        text-shadow: 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333;
    }
    .aorus_color_content {
        padding: 3% 14% 0 14%;
    }
    .aorus_head_title {
        font-size: 2.5em;
        letter-spacing: 0.07em;
        line-height: 1.2em;
    }
    p {
        font-size: 0.75rem;
        line-height: 1.3rem;
        letter-spacing: 1.5px;
        color: #ddd;
    }
    .laptop_text_hide {
        display: none;
    }
    .laptop_text_show {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .performance_h1 {
        color: #eee;
        font-size: 35px;
        font-weight: bold;
        letter-spacing: 2px;
    }
    .performance_h2 {
        font-weight: bold;
        font-size: 20px;
        color: #eee;
        letter-spacing: 2px;
    }
    .performance_h3 {
        font-size: 16px;
        color: #eee;
        letter-spacing: 1px;
    }
    .performance_h3_shadow {
        font-size: 16px;
        color: #eee;
        letter-spacing: 1px;
        text-shadow: 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333;
    }
    .aorus_color_content {
        padding: 3% 14% 0 14%;
    }
    .aorus_head_title {
        font-size: 2em;
        letter-spacing: 0.07em;
        line-height: 1.2em;
    }
    p {
        font-size: 0.75rem;
        line-height: 1.3rem;
        letter-spacing: 1.5px;
        color: #ddd;
    }
    .laptop_text_hide {
        display: none;
    }
    .laptop_text_show {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    p {
        font-size: 0.65rem;
        line-height: 1.1rem;
        letter-spacing: 1.5px;
        color: #ddd;
    }
    .performance_h1 {
        color: #eee;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 2px;
    }
    .performance_h2 {
        font-weight: bold;
        font-size: 18px;
        color: #eee;
        letter-spacing: 2px;
    }
    .performance_h3 {
        font-size: 14px;
        color: #eee;
        letter-spacing: 1px;
    }
    .performance_h3_shadow {
        font-size: 14px;
        color: #eee;
        letter-spacing: 1px;
        text-shadow: 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333, 1px 1px 3px #333;
    }
    .aorus_color_content {
        padding: 3% 10% 0 10%;
    }
    .aorus_vr_bg {
        background-image: none;
        background-size: 80%;
        background-repeat: no-repeat;
        padding: 20% 0 0 0;
        margin: 0;
    }
    .color_effect_content {
        padding-top: 4%;
        text-align: center;
    }
    .color_picker_panel {
        display: block;
        text-align: center;
        position: relative;
        margin: auto;
    }
    .aorus_head_title {
        font-size: 1.2em;
        letter-spacing: 0.07em;
        line-height: 1.2em;
    }
    .laptop_text_hide {
        display: none;
    }
    .laptop_text_show {
        display: block;
    }
}