html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
   
    scroll-behavior: smooth;
    display: block;
}
html, body {
    background: #010000;
    font-family: 'Titillium Web', sans-serif, 'å¾®è»Ÿæ­£é»‘é«”', Microsoft JhengHei;
    font-size: 22px;
    width: 100%;
}





 /* aorus slider  */
  
.fire_ani2 {
    animation: Aorus_ani2 3s ease-in-out infinite;
    position: absolute;
    top: 0;
    transition: 1s;
    left: 10%;
}
 


@keyframes Aorus_ani2 {
    0% {
        padding-top: 5%;
    }
    50% {
        padding-top: 0%;
    }
    100% {
        padding-top: 5%;
    }
}




.rgb_rotate {
    animation: rgb_rotate linear 1s infinite;
}

@keyframes rgb_rotate {
    0% {
       filter: hue-rotate(0deg);
        transition: 0.1s;
    } 
    

    100% {
      filter: hue-rotate(360deg);
        transition: 0.1s;
    }
}



.zero_hover {
    padding-top: 15px;
    transition: 0.3s;
}

.zero_hover:hover {
    padding-top: 10px;
    transition: 0.3s;
}


.aorus_text_shadow3 {
    text-shadow: 0 0 5px #71c7d5, 0 0 10px #ffffff, 0 0 50px #0099ff, 0 0 60px #71c7d5;
}


.aorus_text_shadow3:hover {
    text-shadow: 0 0 5px #00c6ff, 0 0 5px #ffffff, 0 0 40px #0099ff, 0 0 50px #00c6ff;
}